<html>
	<head>
		<link href="assets/style.css" type="text/css"
		rel="stylesheet" />
	</head>
	<body>
		<h2> POST AN ITEM </h2>
		<form method="POST" action="/postitem/check">
		<% if(typeof(errorMessage) !== 'undefined') {%>
         <span><%= errorMessage %></span>
         <% } %>
		<p>
			<label for="itemname">Item Name</label>
			<input type="text" name="itemname" id="itemname"
			placeholder="Item Name" required="true"/>
		</p>
		<p>
			<label for="itemdesc">Item Description</label>
			<input type="text" name="itemdesc" id="itemdesc"
			placeholder="Item Description" required="true"/>
		</p>
		<p>
			<label for="itempic">Item Photo URL</label>
			<input type="url" name="itempic" id="itempic"
			placeholder="Item Photo URL" required="true"/>
		</p>
		<p>
            <input type="submit" name="postitem" id="postitem" value="Post Item"/> <br/><br/>
         </p>
		</form>
	</body>
</html>